<!-- PROMOS -->
<section class="w-full lg:w-5/6 grid grid-cols-2 gap-6 m-auto p-12">
    <a
        class="col-span-2 lg:col-span-1"
        href="https://www.revolut.com/es-ES/promo/velada-de-ibai/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            class="aspect-[29/10] w-full block rounded hover:scale-[102%] hover:contrast-[110%] transition"
            src="img/promo-revoult.png"
            alt="Consigue 20 al abrir tu cuenta en Revolut"
        />
    </a>

    <a
        class="col-span-2 lg:col-span-1" 
        href="https://cloud.e.alsa.com/veladaIII?utm_source=c%C3%B3mo_llegar&utm_medium=web&utm_campaign=2023_07_lavelada&utm_content=abr-jul"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            class="aspect-[26/9] w-full block rounded hover:scale-[102%] hover:contrast-[110%] transition"
            src="img/promo-alsa.png"
            alt="Alsa te lleva a La Velada III"
        />
    </a>
</section>

<!-- MAP -->
<section id="lugar" class="w-full lg:w-5/6 flex flex-col px-12 pb-12 m-auto justify-center">
    <h2 class="font-boxing text-xl md:text-4xl text-gray-100 mb-6 text-center"> ¿cómo llegar al evento?</h2>
    <a
        href="https://www.google.com/maps/place/Estadio+C%C3%ADvitas+Metropolitano/@40.436198,-3.6020423,17z/data=!4m6!3m5!1s0xd422fea8401b789:0x245d0d64dad50ec4!8m2!3d40.4361939!4d-3.5994674!16s%2Fm%2F05515km!5m1!1e2?hl=es&entry=ttu"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            class="aspect-[2/1] w-full block rounded hover:scale-[102%] hover:contrast-[110%] transition"
            src="img/mapa-velada.png"
            alt="Mapa Estadio Cívitas Metropolitano, lugar de la Velada del Año III"
        />
    </a>
</section>